@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Roboto", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand: #0973B9;
  --color-brand-light: #F0F6FE;
  
  --color-text-primary: #101828;
  --color-text-secondary: #717680;
  --color-text-hint: #A4A7AE;
  --color-text-brand: #0973B9;
  
  --color-icon-neutral: #717680;
  --color-icon-brand: #0973B9;
  
  --color-bg-brand: #0973B9;
  --color-bg-hover: #F0F6FE;
  --color-tab-active: #00497D;
}

body {
  font-family: var(--font-sans);
  color: #101828;
  font-size: 13px;
}

.misa-h2 {
  font-weight: 600;
  font-size: 20px;
}

.misa-h3 {
  font-weight: 600;
  font-size: 16px;
}

.misa-body-regular {
  font-size: 13px;
}

.misa-body-small {
  font-size: 12px;
}
